[package]
name = "quakk_audio"
description.workspace = true
repository.workspace = true
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
quakk.workspace = true

anyhow.workspace = true
